.roblox {
    font-family: 'Roblox2017';
}

.geometryDash {
    font-family: 'Pusab';
}

.steamGames {
    font-family: 'Pusab';
}

.minecraft {
    font-family: 'Roblox2017';
}

.worldOfTanks {
    font-family: 'Pusab';
}

.warThunder {
    font-family: 'Pusab';
}